<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">  This workshop offers any CHIIR attendee the chance to envision the "future of user interaction and experience for information access systems" (e.g., accessibility improvements for users with impairments or literacy issues). 
    As CHIIR is a diverse community, the goal is to allow participants to quickly present an idea for such a future (or revisit a past idea that did not progress) and then discuss it in detail with those interested. 
    In doing so, participants can provide and receive feedback on ideas they may have not otherwise considered or even realized were a possibility.
    Additionally, the hope is that such conversations and workshopping spur longer-term collaboration among individuals who may not have had previous opportunities to interact and collaborate to produce new and exciting research to be published at a future CHIIR.
    </p>

    <p>Participants are expected to come to the half-day workshop with a nascent idea in mind and potentially some ways to investigate this idea.
        These ideas will be quickly presented to the group, and smaller subgroups will be formed to engage in this workshopping process with the goal of having some form of rudimentary research agendas created, which are briefly presented, and that can be acted upon after CHIIR.</p>

