<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">  This workshop offers any CHIIR attendee the chance to envision the "future of user interaction and experience for information access systems" (e.g., accessibility improvements for users with impairments or literacy issues). 
    As CHIIR is a diverse community, the goal is to allow participants to quickly present an idea for such a future (or revisit a past idea that did not progress) and then discuss it in detail with those interested. 
    In doing so, participants can provide and receive feedback on ideas they may have not otherwise considered or even realized were a possibility.
    Additionally, the hope is that such conversations and workshopping spur longer-term collaboration among individuals who may not have had previous opportunities to interact and collaborate to produce new and exciting research to be published at a future CHIIR.
    </p>

    <p>Participants are expected to come to the half-day workshop with a nascent idea in mind and potentially some ways to investigate this idea.
        These ideas will be quickly presented to the group, and smaller subgroups will be formed to engage in this workshopping process with the goal of having some form of rudimentary research agendas created, which are briefly presented, and that can be acted upon after CHIIR.</p>

        <p>The following are some examples of ideas of what we might expect to be discussed at the workshop:
    </br>
            How can generative models enhance conversational search?</br>
            What advancements and innovations will contribute to making the future of search more immersive and interactive?</br>
            What ethical considerations should be taken into account when developing AI-powered search systems?</br>
            How can we design search systems that help users search for meaning and context?</br>
            Are users more likely to issue long queries now that systems can support them and how might we improve such interactions?</br>
            What alternative interfaces and interaction methods can revolutionize the way users interact with information?</br>
            Which specific tasks will become predominant in the future landscape of information retrieval?</br>
            How can search technologies strike a balance between providing comprehensive results and respecting user privacy and ownership of data?</br>
        </p>